In [1]:
import pandas as pd
train = pd.read_csv('../../data/train.csv', parse_dates = ['Date'])
test = pd.read_csv('../../data/test.csv', parse_dates = ['Date'])
store = pd.read_csv('../../data/store.csv')

/Library/Python/2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#train.describe()

In [3]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
store[0:3]

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
1,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"

In [5]:
train = train.merge(store, on='Store', copy=False)
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270,9,2008,0,NaN,NaN,NaN

In [6]:
train = train.fillna(0)
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270,9,2008,0,0,0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270,9,2008,0,0,0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270,9,2008,0,0,0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270,9,2008,0,0,0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270,9,2008,0,0,0,0

In [7]:
#train.drop(['Date'], axis=1, inplace = True)

In [8]:
train['StateHoliday'] = train['StateHoliday'].apply(lambda x: 0 if '0' == x else 1)
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270,9,2008,0,0,0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270,9,2008,0,0,0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270,9,2008,0,0,0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270,9,2008,0,0,0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270,9,2008,0,0,0,0

In [9]:
train_weekday=pd.get_dummies(train, columns=['DayOfWeek'])

In [10]:
train_weekday.head()

,Store,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek_1,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7
0,1,2015-07-31,5263,555,1,1,0,1,c,a,...,0,0,0,0,0,0,0,1,0,0
1,1,2015-07-30,5020,546,1,1,0,1,c,a,...,0,0,0,0,0,0,1,0,0,0
2,1,2015-07-29,4782,523,1,1,0,1,c,a,...,0,0,0,0,0,1,0,0,0,0
3,1,2015-07-28,5011,560,1,1,0,1,c,a,...,0,0,0,0,1,0,0,0,0,0
4,1,2015-07-27,6102,612,1,1,0,1,c,a,...,0,0,0,1,0,0,0,0,0,0

In [11]:
train_weekday=pd.get_dummies(train_weekday, columns=['StoreType'])

In [12]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=30)

In [13]:
train_weekday=pd.get_dummies(train_weekday, columns=['Assortment'])

In [16]:
train_weekday.drop(['PromoInterval'], axis=1, inplace=True)

In [25]:
    # Process the Date field
    train_weekday['year'] = train_weekday.Date.apply(lambda x: x.year)
    train_weekday['month'] = train_weekday.Date.apply(lambda x: x.month)
    train_weekday['day'] = train_weekday.Date.apply(lambda x: x.day)
    train_weekday['woy'] = train_weekday.Date.apply(lambda x: x.weekofyear)

In [26]:
train_weekday.drop(['Date'], axis = 1, inplace=True)

In [27]:
X_train = train_weekday.drop(['Sales', 'Customers'], axis=1).values
y_train = train_weekday['Sales'].values

In [31]:
from sklearn.metrics import make_scorer
import numpy as np

def rmspe(y_true, y_pred):
    """Root Mean Square Percentage Error
    Details about this function can be found on kaggle 
    https://www.kaggle.com/c/rossmann-store-sales/details/evaluation"""
    idx = y_true != 0
    return np.sqrt(np.mean(((y_true[idx] - y_pred[idx]) / y_true[idx]) ** 2))

# Create a Scorer
rmspe_scorer = make_scorer(rmspe, greater_is_better=False)

In [34]:
from sklearn import cross_validation as cv
fold = cv.KFold(n=len(y_train), n_folds=4, shuffle=True, random_state=42)

In [36]:
from sklearn import cross_validation as cv
# n_jobs number of cores
scores = cv.cross_val_score(rfr, X_train, y_train, scoring=rmspe_scorer, cv=fold, n_jobs=4)
scores.mean()

-0.20024692690792778

In [37]:
from sklearn import cross_validation
from sklearn.neighbors import KNeighborsRegressor

# KNN Classifier
clf = KNeighborsRegressor(n_neighbors=5)

scores = cross_validation.cross_val_score(clf, X_train, y_train, scoring=rmspe_scorer, cv=fold, n_jobs=-1)
scores.mean()

-0.32424374508789877

In [38]:
%matplotlib inline

In [ ]:
scores.mean()/len(y_train)

In [39]:
scores

array([-0.37984773, -0.29016417, -0.31067834, -0.31628474])

In [ ]:
pd?

In [ ]:
train_cat=pd.get_dummies(train, prefix=['StoreType'])